section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: "Rubik Dirt", cursive;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
  
}